# ignore eclipse files
.project
.classpath
.settings/
*.ipr
.idea
*.iws
*.iml

jboss-seam-jakarta/src/main/java.backup.*
jboss-seam-jakarta/src/generated/jakarta/**

# maven build results
target
test-output
*.log

#eclipse output
bin

#others
/build/build.properties
/1java - Copy
/1java.backup.20250723_111934
/1java.backup.20250723_105610
/jboss-seam-ui-jakarta/src/generated
/jboss-seam-ui-jakarta/${project.directory}
/jboss-seam-jakarta/pom-exclusions-alt.xml
/jboss-seam-jakarta/pom-exclusions.xml
context
/jboss-seam-pdf-jakarta/src/generated
/jboss-seam-jakarta/src/main/jakarta-files.list
pom-exclusions-alt.xml
pom-exclusions.xml
/jboss-seam-ui-jakarta/richfaces-cdk
/jboss-seam-rss-jakarta/src/generated
